@font-face {
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Tahoma_Regular_font.ttf) format('truetype');
}

@font-face {
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/TAHOMAB0.TTF) format('truetype');
}

:root {
  --primary-color: #1f2421;
  --secondary-color: #f6fbff;
  --gray: #bac4d5;
  --light-gray: #cfdaee;
  --accent-color: #e75050;
  --accent-color-light: #e96161;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

html {
  font-family: 'Tahoma', sans-serif !important;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

input {
  background-color: var(--secondary-color);
  font-size: inherit;
  line-height: inherit;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--secondary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.accent-text {
  color: var(--accent-color);
}

.transition {
  transition: all 0.3s ease-out;
}

.title-text {
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -1px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.subtitle-text {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin-bottom: 1rem;
}

.map {
  width: 100vw;
  height: 100vh;
}

.ol-zoom {
  top: 8px !important;
  right: 8px !important;
  left: auto !important;
}
