.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--secondary-color);
  padding: 12px;
  width: 56px;
  height: 56px;
  border-radius: 0 0 16px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: var(--light-gray);
}

.menu.open {
  height: 100vh;
  width: 400px;
  border-radius: 0;
  padding: 20px;
  border-color: var(--primary-color);
}

.menu-button__container {
  position: relative;
}

.menu-button {
  width: 32px;
  height: 32px;
  position: absolute;
  z-index: 1001;
  top: 0px;
  right: 0px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu-button__bar {
  width: 100%;
  height: 12.5%;
  background-color: var(--primary-color);
  border-radius: 100px;
}

.menu.open .menu-button__bar:nth-child(1) {
  transform: translate(0, 225%) rotate(45deg);
}

.menu.open .menu-button__bar:nth-child(2) {
  opacity: 0;
}

.menu.open .menu-button__bar:nth-child(3) {
  transform: translate(0, -225%) rotate(-45deg);
}

.menu-content {
  max-height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  opacity: 0;
  overflow: auto;
}

.menu.open .menu-content {
  opacity: 1;
}

.menu-header {
  padding: 0 8px;
}

.error-text {
  margin-top: 1rem;
    color: var(--accent-color);
}

.menu-content__body-item {
  border-top: 1px solid var(--light-gray);
  padding: 20px 18px 20px 8px;
  display: flex;
  flex-direction: column;
}

.menu-content__body-item:last-child {
  border-top: none;
  padding-top: 10px;
}

.menu-content__body-input-list,
.menu-content__body-option-list{
  list-style: none;
  background-color: var(--light-gray);
  padding: 16px;
  border-radius: 16px 0;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.menu-content__body-input-list > li,
.menu-content__body-option-list-item{
  width: 100%;
  display: flex;
  align-items: center;
}

.menu-content__body-option-list-empty,
.menu-content__body-input-list > li > input,
.menu-content__body-option-list-item > label {
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  padding: 4px 8px;
  border-radius: 8px;
  flex: 1;
}

.menu-content__body-option-list-item > input {
  width: 14px;
  height: 14px;
  margin-right: 8px;
}

.menu-content__body-input-list > li:before {
  background-color: var(--primary-color);
  width: 12px;
  height: 2px;
  content: '';
  margin-right: 10px;
}

.menu-content__body-option-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5rem;
  border: none;
  border-radius: 16px;
  padding: 12px 20px;
  width: 100%;
  transform: scale(1);
}

.spinner {
  margin-left: 0.5rem;
  width: 1.25rem;
  height: 100%;
  display: none;
  animation: spin 1s linear infinite;
}

.submit-button:hover {
  background-color: var(--accent-color-light);
  transform: scale(1.025);
}

.submit-button:disabled {
  transform: scale(1);
  background-color: var(--accent-color-light);
}

.submit-button:disabled > .spinner {
  display: inline-block;
}

.logout-button {
  display: flex;
  gap: 10px;
  margin: auto 0 10px 8px;
  padding-top: 20px;
  color: var(--primary-color);
  font-size: 20px;
  line-height: 20px;
}

.logout-icon {
  width: 20px;
  height: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
