<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <title>Grouter!</title>
    <link rel="icon" href="static/resources/logo_small.webp" />
    <link rel="preconnect" href="static/javascript/map.js" />
    <link rel="preconnect" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.15.1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.15.1/css/ol.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.15.1/build/ol.js"></script>
    <link rel="preconnect" href="static/javascript/map.js" />
    <link rel="stylesheet" href="static/css/index.css" />
    <link rel="stylesheet" href="static/css/menu.css" />
    <meta charset="UTF-8" />
  </head>
  <body>
    <div id="map" class="map"></div>
    <div id="menu" class="menu open transition">
      <div class="menu-button__container">
        <button onclick="toggleMenu()" class="menu-button">
          <div class="menu-button__bar transition"></div>
          <div class="menu-button__bar transition"></div>
          <div class="menu-button__bar transition"></div>
        </button>
      </div>
      <h1 class="menu-header title-text">
        <span class="accent-text">G</span>router
      </h1>
      {% if not active_order_addresses %}
      <h2 class="subtitle-text error-text">Šobrīd nav neizsūtītu pasūtījumu!</h2>
      {% elif not couriers %}
      <h2 class="subtitle-text error-text">Šobrīd nav pieejamu kurjeru!</h2>
      {% else %}
      <form onsubmit="return false" class="menu-content transition">

        <div class="menu-content__body">
          <div class="menu-content__body-item">
            <h2 class="subtitle-text">Adreses</h2>
            <div id="addresses" class="menu-content__body-option-list">
              {% for active_order_address in active_order_addresses %}
              <div class="menu-content__body-option-list-item">
                <input
                  type="checkbox"
                  required
                  name="{{ active_order_address[1] }}"
                  id="address-{{ active_order_address[0] }}"
                  class="menu-content__body-input"
                />
                <label for="address-{{ active_order_address[0] }}" class="menu-content__body-label">{{ active_order_address[1] }}</label>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="menu-content__body-item">
            <h2 class="subtitle-text">Noliktava</h2>
            <ul id="warehouse" class="menu-content__body-input-list" max-size="1">
              <li>
                <input
                  type="text"
                  required
                  name="warehouse"
                  autocomplete="off"
                  placeholder="..."
                  oninput="updateInputList(this)"
                  class="menu-content__body-input"
                />
              </li>
            </ul>
          </div>
          <div class="menu-content__body-item">
            <h2 class="subtitle-text">Kurjeri</h2>
            <div id="couriers" class="menu-content__body-option-list">
              {% for courier in couriers %}
              <div class="menu-content__body-option-list-item">
                <input
                  type="checkbox"
                  required
                  name="{{ courier[1] }}"
                  id="courier-{{ courier[0] }}"
                  class="menu-content__body-input"
                />
                <label for="courier-{{ courier[0] }}" class="menu-content__body-label">{{ courier[1] }}</label>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="menu-content__body-item">
            <button id="routeSubmit" type="submit" onclick="sendAdminInfo('{{serverHost}}')" class="submit-button transition">
              <span>Izveidot maršrutus</span>
              <img src="static/resources/wheel-svgrepo-com.svg" class="spinner">
            </button>
          </div>
        </div>
      </form>
      {% endif %}
      <a href="login" class="logout-button">
        Iziet
        <img src="static/resources/logout-svgrepo-com.svg" class="logout-icon" alt="logout">
      </a>
    </div>
    <script src="static/javascript/map.js"></script>
    <script src="static/javascript/menu.js"></script>
  </body>
</html>
