<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1"/>
    <title>Grouter!</title>
    <link rel="icon" href="static/resources/logo_small.webp" />
    <link rel="stylesheet" href="static/css/index.css" />
    <link rel="stylesheet" href="static/css/login.css" />
</head>
<body>
    <div class="box-container">
        <img src="static/resources/logo_large.webp" alt="Grouter logo" class="logo">
        <h1 class="login-title"><span class="accent-text">G</span>router</h1>
        <form action="" method="post" class="login-container">
            <label for="username">Lietotājvārds:</label>
            <input type="text" name="username" id="username" required>
            <label for="password">Parole:</label>
            <input type="password" name="password" id="password" required>
            <input type="submit" name="login" value="Ielogoties" class="login-button transition">
        </form>
        <form action="" method="post">
            <input type="submit" name="register" value="Reģistrēties" class="login-button secondary transition">
        </form>
    </div>
</body>
</html>